<?xml version='1.0' encoding='UTF-8'?>
<lasif_project>
  <name>Tutorial</name>
  <description></description>
  <download_settings>
    <seconds_before_event>300</seconds_before_event>
    <seconds_after_event>3600</seconds_after_event>
    <interstation_distance_in_m>1000.0</interstation_distance_in_m>
    <channel_priorities>
      <priority>BH[Z,N,E]</priority>
      <priority>LH[Z,N,E]</priority>
      <priority>HH[Z,N,E]</priority>
      <priority>EH[Z,N,E]</priority>
      <priority>MH[Z,N,E]</priority>
    </channel_priorities>
    <location_priorities>
      <priority></priority>
      <priority>00</priority>
      <priority>10</priority>
      <priority>20</priority>
      <priority>01</priority>
      <priority>02</priority>
    </location_priorities>
  </download_settings>
  <domain>
    <global>false</global>
    <domain_bounds>
      <minimum_longitude>-10</minimum_longitude>
      <maximum_longitude>10</maximum_longitude>
      <minimum_latitude>-10</minimum_latitude>
      <maximum_latitude>10</maximum_latitude>
      <minimum_depth_in_km>0.0</minimum_depth_in_km>
      <maximum_depth_in_km>471.0</maximum_depth_in_km>
      <boundary_width_in_degree>2.5</boundary_width_in_degree>
    </domain_bounds>
    <domain_rotation>
      <rotation_axis_x>1.0</rotation_axis_x>
      <rotation_axis_y>1.0</rotation_axis_y>
      <rotation_axis_z>0.2</rotation_axis_z>
      <rotation_angle_in_degree>-65.0</rotation_angle_in_degree>
    </domain_rotation>
  </domain>
</lasif_project>
